* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    top: 0;
    z-index: 999;
    background-color: #F5F5F5;
}

.first-item {
    font-size: 2rem;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

.first-item:hover {
    color: #1abc9c;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}

nav a:hover {
    color: #1abc9c;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #1abc9c;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

header div,
nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        color: #1abc9c;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #1abc9c;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 5;
    }

    nav a:hover {
        color: #eee;
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: #444444
    }

    nav .nav-close-btn:hover {
        color: #eee;
    }

    nav a {
        font-size: 1.5rem;
    }
}